@page "/data-structure"
@using Blazor.Models.Enums
@using Blazor.Models.Forms
@using System.Diagnostics
@implements Blazor.Abstract.IBenchmarkComponentBase

<BaseBenchmark Child="@this">
    <h3 class="benchmark-base__flex">
        Parametry testu:
    </h3>
    <EditForm Model="@_formModel">
        <div class="benchmark-base__flex">
            <label>
                Liczba elementów w tablicy:
                <InputNumber id="number-of-elements-control" @bind-Value="@_formModel.ListSize" />
            </label>
        </div>
    </EditForm>
    <b class="benchmark-base__flex">
        Wybór testu:
    </b>
    <div class="benchmark-base__flex">
        <button type="button" 
                class="@GetButtonClass(DataStructureTest.Generate)"
                @onclick="() => SelectTest(DataStructureTest.Generate)">Generowanie</button>
        <button type="button" 
                class="@GetButtonClass(DataStructureTest.GetUnique)"
                @onclick="() => SelectTest(DataStructureTest.GetUnique)">Wyciągnięcie unikalnych elementów</button>
        <button type="button" 
                class="@GetButtonClass(DataStructureTest.Iterate)"
                @onclick="() => SelectTest(DataStructureTest.Iterate)">Iteracja</button>
    </div>
    <hr />
</BaseBenchmark>

@code {
    public string Name => "Test struktur danych";
    private DataStructureTest _activeTest = DataStructureTest.Generate;
    private List<int> _testList;
    private DataStructureBenchmarkForm _formModel = new();
    private List<int> _dummyList;
    private int _dummyNum;
    private Random _random = new ();
    private long _nanosecPerTick = (1000L * 1000L * 1000L) / Stopwatch.Frequency;

    public void SelectTest(DataStructureTest test)
    {
        _activeTest = test;
    }

    public string GetButtonClass(DataStructureTest test)
    {
        return $"btn {(_activeTest == test ? "btn-success" : "btn-secondary")}";
    }

    public async Task SetupTest()
    {
        if (_activeTest != DataStructureTest.Generate) {
            _testList = GenerateListInternal();
        }
    }

    public async Task<decimal> RunTest()
    {
        switch (_activeTest) {
            case DataStructureTest.Generate:
                return await GenerateList();
            case DataStructureTest.GetUnique:
                return await GetUniqueFromArray();
            case DataStructureTest.Iterate:
                return await IterateThroughArray();
        }
        throw new InvalidOperationException();
    }

    private async Task<decimal> GenerateList()
    {
        return await Task.Run(async () =>
        {
            var sw = Stopwatch.StartNew();
            await InvokeAsync(() =>
            {
                GenerateListInternal();
            });
            sw.Stop();
            return (decimal)((sw.ElapsedTicks * (double)_nanosecPerTick) / 1000000d);
        });
    }

    private List<int> GenerateListInternal()
    {
        var list = new List<int>();
        for (var i = 0; i < _formModel.ListSize; i++)
        {
            list.Add(_random.Next(0, 100));
        }
        return list;
    }

    private async Task<decimal> GetUniqueFromArray()
    {
        return await Task.Run(async () =>
        {
            var sw = Stopwatch.StartNew();
            await InvokeAsync(() =>
            {
                _dummyList = _testList.Distinct().ToList();
            });
            sw.Stop();
            return (decimal)((sw.ElapsedTicks * (double)_nanosecPerTick) / 1000000d);
        });
    }

    private async Task<decimal> IterateThroughArray()
    {
        return await Task.Run(async () =>
        {
            var sw = Stopwatch.StartNew();
            await InvokeAsync(() =>
            {
                _testList.ForEach(x =>
                {
                    _dummyNum = x;
                });
            });
            sw.Stop();
            return (decimal)((sw.ElapsedTicks * (double)_nanosecPerTick) / 1000000d);
        });
    }
}
