@page "/load"
@using Blazor.Models.Dtos

<table class="load-benchmark__table table table-striped">
    <thead>
    <tr class="thead-dark">
        <th>L.p.</th>
        <th></th>
        <th>Tytuł</th>
        <th>Rok premiery</th>
        <th>Średnia ocen</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Movies.Count; i++)
    {
        <tr>
            <th>@(i+1).</th>
            <img class="load-benchmark__image" src="@Movies[i].Url" alt="@Movies[i].Title"/>
            <th>@Movies[i].Title</th>
            <th>@Movies[i].ReleaseYear</th>
            <th>@Movies[i].Rating</th>
        </tr>
    }
    </tbody>
</table>

@code {

    public List<Movie> Movies { get; set; } = new()
    {
        new Movie(2019, "The Gentlemen", 7.8m, "https://i.imgur.com/w5cnnuW.jpg"),
        new Movie(2008, "Rock'N'Rolla", 7.3m, "http://1.bp.blogspot.com/_IkxGemjxhiQ/TNrelWeTxpI/AAAAAAAAHik/xo_2a3vn9Ww/s1600/rocknrolla-poster.jpg"),
        new Movie(2005, "Revolver", 6.4m, "https://dvd-shoppen.com/6099-large_default/revolver-blu-ray.jpg"),
        new Movie(2003, "The Hire", 7.6m, "https://www.madonnashop.com/wp-content/uploads/images/products/p-752-Madonna_-_DVD_BMW_movie_The_Hire-400x400.jpg"),
        new Movie(2000, "Snatch", 8.3m, "https://m.media-amazon.com/images/M/MV5BMTA2NDYxOGYtYjU1Mi00Y2QzLTgxMTQtMWI1MGI0ZGQ5MmU4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_.jpg"),
        new Movie(1998, "Lock, Stock and Two Smoking Barrels", 8.2m, "https://m.media-amazon.com/images/M/MV5BMTAyN2JmZmEtNjAyMy00NzYwLThmY2MtYWQ3OGNhNjExMmM4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_.jpg"),
        new Movie(2011, "Sherlock Holmes: A Game of Shadows", 7.5m, "https://m.media-amazon.com/images/M/MV5BMTQwMzQ5Njk1MF5BMl5BanBnXkFtZTcwNjIxNzIxNw@@._V1_.jpg"),
        new Movie(2009, "Sherlock Holmes", 7.6m, "https://fwcdn.pl/fpo/60/62/426062/7423630.3.jpg"),
        new Movie(2015, "The Man from U.N.C.L.E.", 7.3m, "https://marudzenie.pl/wp-content/uploads/2015/09/7698502.3.jpg"),
        new Movie(2001, "Star", 7.7m, "https://m.media-amazon.com/images/M/MV5BM2ZhMjBiMjItNmIyOC00MjVkLWJiOTItODA2MmI5YTc1NDE4XkEyXkFqcGdeQXVyMjA4MjYzMjk@._V1_.jpg"),
    };
}
